.reminder-table{
    width:100%;
}

.add-form{
    background-color:#EEE;
    display:block;
    width:452px;
    padding:20px;
    margin-top:60px;
    margin-left:auto;
    margin-right:auto;
}

tr.header{
    font-size:1.1em;
    font-weight: bold;
    font-family:Georgia;
    font-variant: small-caps;
    color:#333;
}
tr.odd{
}
tr.even{
    background:#f6f6f6;
}

.entry-row{

}

.navbar ul{
    width:100%;
    float:right;
    padding:0px;
    text-align: right;
    margin-bottom:74px;
    color:#999;
    margin-top:0px;
}
.navbar li{
    list-style: none;
    display: inline;
    width: auto;
}

.navbar li a{
    color:#999;
    text-decoration: none;
}
.navbar li a:hover{
    text-decoration: underline;
}

.second-li{
    margin-left:10px;
    padding-left:10px;
    border-left:1px solid #ccc;
}